body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f7f7f7;
}

#game-board {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-gap: 10px;
  justify-content: center;
  margin-top: 20px;
}

.card {
  width: 100px;
  height: 100px;
  background-color: lightgray;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card.flipped {
  background-color: white;
}

#reset-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#reset-btn:hover {
  background-color: #45a049;
}
